interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search/playlist?q=Daft+Punk
  response:
    body:
      string: '{"data":[{"id":3133294742,"title":"100% Daft Punk","public":true,"nb_tracks":30,"link":"https:\/\/www.deezer.com\/playlist\/3133294742","picture":"https:\/\/api.deezer.com\/playlist\/3133294742\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/d53e6e70e46369c5d5cdfe0b260ea514\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/d53e6e70e46369c5d5cdfe0b260ea514\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/d53e6e70e46369c5d5cdfe0b260ea514\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/d53e6e70e46369c5d5cdfe0b260ea514\/1000x1000-000000-80-0-0.jpg","checksum":"72e121d0678811ecf62ae5347c026468","tracklist":"https:\/\/api.deezer.com\/playlist\/3133294742\/tracks","creation_date":"2017-05-17
        16:49:49","md5_image":"d53e6e70e46369c5d5cdfe0b260ea514","picture_type":"playlist","user":{"id":1990304482,"name":"Deezer
        Artist Editor","tracklist":"https:\/\/api.deezer.com\/user\/1990304482\/flow","type":"user"},"type":"playlist"},{"id":878989033,"title":"90s
        Hits","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/878989033","picture":"https:\/\/api.deezer.com\/playlist\/878989033\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/3ae533f7c2f02a196b6b7e4153ce750c\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/3ae533f7c2f02a196b6b7e4153ce750c\/250x250-000000-80-0-0.jpg","picture_big":"https[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search/playlist?index=25&q=Daft+Punk
  response:
    body:
      string: '{"data":[{"id":10090009722,"title":"Daft Punk","public":true,"nb_tracks":84,"link":"https:\/\/www.deezer.com\/playlist\/10090009722","picture":"https:\/\/api.deezer.com\/playlist\/10090009722\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b870579c8650cd59b1cce656dde2ef17-2e018122cb56986277102d2041a592c8-48701e[...]
[...]
