interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?q=artist%3A%22Lou+Doillon%22
  response:
    body:
      string: '{"data":[{"id":109213572,"readable":true,"title":"Left Behind","title_short":"Left
        Behind","title_version":"","link":"https:\/\/www.deezer.com\/track\/109213572","duration":173,"rank":481728,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-6.dzcdn.net\/stream\/c-63f95eadc1011af74341f29a65f25c88-8.mp3","md5_image":"2fc675e8586a75061da8bbd21a125b50","artist":{"id":1701297,"name":"Lou
        Doillon","link":"https:\/\/www.deezer.com\/artist\/1701297","picture":"https:\/\/api.deezer.com\/artist\/1701297\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1701297\/top?limit=50","type":"artist"},"album":{"id":11380062,"title":"Lay
        Low","cover":"https:\/\/api.deezer.com\/album\/11380062\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/1000x1000-000000-80-0-0.jpg","md5_image":"2fc675e8586a75061da8bbd21a125b50","tracklist":"https:\/\/api.deezer.com\/album\/11380062\/tracks","type":"album"},"type":"track"},{"id":61250986,"readable":true,"title":"Devil
        Or Angel","title_short":"Devil Or Angel","title_version":"","link":"https:\/\/www.deezer.com\/track\/61250986","duration":244,"rank":335143,"explicit_lyrics":false,"explicit_content_lyrics"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?index=25&q=artist%3A%22Lou+Doillon%22
  response:
    body:
      string: '{"data":[{"id":1007215662,"readable":true,"title":"It''s you","title_short":"It''s
        you","title_version":"","link":"https:\/\/www.deezer.com\/track\/1007215662","duration":183,"rank":152658,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-3.dzcdn.net\/stream\/[...]
[...]
