interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio/top
  response:
    body:
      string: '{"data":[{"id":37675,"title":"Kaffestue","picture":"https:\/\/api.deezer.com\/radio\/37675\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/298a3f304ad9d6283e2677a7795d8396\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/298a3f304ad9d6283e2677a7795d8396\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/298a3f304ad9d6283e2677a7795d8396\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/298a3f304ad9d6283e2677a7795d8396\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/37675\/tracks","md5_image":"298a3f304ad9d6283e2677a7795d8396","type":"radio"},{"id":39031,"title":"Pejsehygge","picture":"https:\/\/api.deezer.com\/radio\/39031\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/1193166a40c325140795646d2d1d2c5c\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/1193166a40c325140795646d2d1d2c5c\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/1193166a40c325140795646d2d1d2c5c\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/[...]
