interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?ordering=RATING_ASC&q=Soliloquy
  response:
    body:
      string: '{"data":[{"id":770903822,"readable":true,"title":"Soliloquy (Wouldn''t
        Feel Alone)","title_short":"Soliloquy (Wouldn''t Feel Alone)","title_version":"","link":"https:\/\/www.deezer.com\/track\/770903822","duration":279,"rank":317063,"explicit_lyrics":true,"explicit_content_lyrics":1,"explicit_content_cover":1,"preview":"https:\/\/cdns-preview-3.dzcdn.net\/stream\/c-3414c3f988dad91d6b30a526a85ae8e1-3.mp3","md5_image":"ccce20d1abccc31a31ca9f7bfe3bf5c5","artist":{"id":13272087,"name":"Marshall
        Cecil","link":"https:\/\/www.deezer.com\/artist\/13272087","picture":"https:\/\/api.deezer.com\/artist\/13272087\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/d91b8bc2a92778f7a850dbf86fa47b50\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/d91b8bc2a92778f7a850dbf86fa47b50\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/d91b8bc2a92778f7a850dbf86fa47b50\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/d91b8bc2a92778f7a850dbf86fa47b50\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/13272087\/top?limit=50","type":"artist"},"album":{"id":114105002,"title":"Soliloquy
        (Wouldn''t Feel Alone)","cover":"https:\/\/api.deezer.com\/album\/114105002\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ccce20d1abccc31a31ca9f7bfe3bf5c5\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ccce20d1abccc31a31ca9f7bfe3bf5c5\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ccce20d1abccc31a31ca9f7bfe3bf5c5\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ccce20d1abccc31a31ca9f7bfe3bf5c5\/1000x1000-000000-80-0-0.jpg","md5_image":"ccce20d1abccc31a31ca9f7bfe3bf5c5","tracklist":"https:\/\/api.deezer.com\/album\/114105002\/tracks","type":"album"},"type":"track"},{"id":2144510437,"readable":true,"title":"Soliloquy
        (Pt. 3: Waltz)","title_short":"Soliloquy","title_version":"(Pt. 3: Waltz)","link":"https:\/\/www.deezer.com\/track\/2144510437","duration":145,"rank":309030,"explicit_lyrics":false,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?index=25&ordering=RATING_ASC&q=Soliloquy
  response:
    body:
      string: '{"data":[{"id":623719252,"readable":true,"title":"Brother","title_short":"Brother","title_version":"","link":"https:\/\/www.deezer.com\/track\/623719252","duration":214,"rank":317794,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-e.dzcdn.net\/stream\/c-eab98363e[...]
[...]
