interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106
    response:
      body:
        string: '{"id":106,"name":"Electro","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/1000x1000-000000-80-0-0.jpg","type":"editorial"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-136
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106/releases
    response:
      body:
        string:
          '{"data":[{"id":469936575,"title":"adore u","cover":"https:\/\/api.deezer.com\/album\/469936575\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3c430d7a9505dd808ec89ebce3eba0bc\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3c430d7a9505dd808ec89ebce3eba0bc\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3c430d7a9505dd808ec89ebce3eba0bc\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3c430d7a9505dd808ec89ebce3eba0bc\/1000x1000-000000-80-0-0.jpg","md5_image":"3c430d7a9505dd808ec89ebce3eba0bc","release_date":"2023-08-11","tracklist":"https:\/\/api.deezer.com\/album\/469936575\/tracks","artist":{"id":76053262,"name":"Fred
          again..","tracklist":"https:\/\/api.deezer.com\/artist\/76053262\/top?limit=50","type":"artist"},"type":"album"},{"id":473784655,"title":"Good
          Vibes","cover":"https:\/\/api.deezer.com\/album\/473784655\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/406b30e58206065a943c95b4d614355a\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/406b30e58206065a943c95b4d614355a\/250x250-000000-80-[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106/releases?index=20
    response:
      body:
        string:
          '{"data":[{"id":469989035,"title":"Dreamy Rain Melodies for Warmth in
          a Stormy Night","cover":"https:\/\/api.deezer.com\/album\/469989035\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/24cc3fc84a0d48422ea01c30724370ff\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images[...]
