interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/user/359622?access_token=dummy
    response:
      body:
        string: '{"id":359622,"name":"Bruno Alla","link":"https:\/\/www.deezer.com\/profile\/359622","picture":"https:\/\/api.deezer.com\/user\/359622\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/1000x1000-000000-80-0-0.jpg","country":"GB","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-183
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: DELETE
      uri: https://api.deezer.com/user/359622/albums?access_token=dummy&album_id=302127
    response:
      body:
        string:
          '{"error":{"type":"OAuthException","message":"An active access token
          must be used to query information about the current user","code":200}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-98
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
