interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/user/me?access_token=dummy
    response:
      body:
        string: '{"id":1705809182,"name":"banjon","lastname":"","firstname":"","email":"","status":2,"birthday":"0000-00-00","inscription_date":"2017-09-03","gender":"","link":"https:\/\/www.deezer.com\/profile\/1705809182","picture":"https:\/\/api.deezer.com\/user\/1705809182\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/1000x1000-000000-80-0-0.jpg","country":"DK","lang":"en","is_kid":false,"explicit_content_level":"explicit_display","explicit_content_levels_available":["explicit_display","explicit_no_recommendation","explicit_hide"],"tracklist":"https:\/\/api.deezer.com\/user\/1705809182\/flow","type":"user"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-96
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/4460913144?access_token=dummy
    response:
      body:
        string:
          '{"id":4460913144,"title":"Smooth Hits","description":"Sit back, relax
          and enjoy some of the smoothest tracks around.","duration":17612,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":80,"fans":20383,"link":"https:\/\/www.deezer.com\/playlist\/4460913144","share":"https:\/\/www.deezer.com\/playlist\/4460913144?utm_source=deezer&utm_content=playlist-4460913144&utm_term=1705809182_1691952998&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/4460913144\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/63a39be5a34a88abaea1dd79273ae84a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/63a39be5a34a88abaea1dd79273ae84a\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/63a39be5a34a88abaea1dd79273ae84a\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/63a39be5a34a88abaea1dd79273ae84a\/1000x1000-000000-80-0-0.jpg","checksum":"8a39268619c953de3cae7b7d6483528d","tracklist":"https:\/\/api.deezer.com\/playlist\/4460913144\/tracks","creation_date":"2018-05-11
          13:02:58","md5_image":"63a39be5a34a88abaea1dd79273ae84a","picture_type":"playlist","creator":{"id":304158405,"name":"Marika
          - Deezer UK & Ireland Editor","tracklist":"https:\/\/api.deezer.com\/user\/304158405\/flow","type":"user"},"type":"playlist","tracks":{"data":[{"id":1474534502,"readable":true,"title":"Until
          I Found You","title_short":"Until I Found You","title_version":"","unseen":false,"link":"https:\/\/www.deezer.com\/track\/1474534502","duration":177,"rank":934795,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-c.dzcdn.net\/stream\/c-c36160ca560c6dd7d302f15c109858a3-4.mp3","md5_image":"8a6477b222dac17081d9b9b1729a1ca4","time_add":1690194167,"artist":{"id":13129925,"name":"Stephen
          Sanchez","link":"https:\/\/www.deezer.com\/artist\/13129925","tracklist":"https:\/\/api.deezer.com\/artist\/13129925\/top?limit=50","type":"artist"},"album":{"id":254072532,"title":"Until
          I Found You","cover":"https:\/\/api.deezer.com\/album\/254072532\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8a6477b222dac17081d9b9b1729a1ca4\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8a6477b222dac17081d9b9b1729a1ca4\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8a6477b222dac17081d9b9b1729a1ca4\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8a6477b222dac17081d9b9b1729a1ca4\/1000x1000-000000-80-0-0.jpg","md5_image":"8a6477b222dac17081d9b9b1729a1ca4","tracklist":"https:\/\/api.deezer.com\/album\/254072532\/tracks","type":"album"},"type":"track"},{"id":1875447247,"readable":true,"title":"ceilings","title_short":"ceilings","title_version":"","unseen":false,"link":"https:\/\/www.deezer.com\/track\/1875447247","duration":182,"rank":844539,"explicit_lyrics":false,"explicit_content_lyrics"[...]
  - request:
      body: null
      headers:
      method: DELETE
      uri: https://api.deezer.com/user/me/playlists?access_token=dummy&playlist_id=4460913144
    response:
      body:
        string: "true"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-04
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
