interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27
    response:
      body:
        string: '{"id":27,"name":"Daft Punk","link":"https:\/\/www.deezer.com\/artist\/27","share":"https:\/\/www.deezer.com\/artist\/27?utm_source=deezer&utm_content=artist-27&utm_term=0_1691952036&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/27\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/1000x1000-000000-80-0-0.jpg","nb_album":36,"nb_fan":4474690,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-75
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27/albums
    response:
      body:
        string:
          '{"data":[{"id":294609352,"title":"Homework (25th Anniversary Edition)","link":"https:\/\/www.deezer.com\/album\/294609352","cover":"https:\/\/api.deezer.com\/album\/294609352\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/117dcf85bdf0851347403796521d1e9d\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/117dcf85bdf0851347403796521d1e9d\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/117dcf85bdf0851347403796521d1e9d\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/117dcf85bdf0851347403796521d1e9d\/1000x1000-000000-80-0-0.jpg","md5_image":"117dcf85bdf0851347403796521d1e9d","genre_id":113,"fans":10602,"release_date":"1997-01-20","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/294609352\/tracks","explicit_lyrics":false,"type":"album"},{"id":8244118,"title":"Human
          After All (Remixes)","link":"https:\/\/www.deezer.com\/album\/8244118","cover":"https:\/\/api.deezer.com\/album\/8244118\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f6a4dbf47cb8828c281ed4e63364f99e\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f6a4dbf47cb8828c281ed4e63364f99e\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cov[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27/albums?index=25
    response:
      body:
        string:
          '{"data":[{"id":7294838,"title":"Harder, Better, Faster, Stronger (Live)","link":"https:\/\/www.deezer.com\/album\/7294838","cover":"https:\/\/api.deezer.com\/album\/7294838\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/43a0af617608677263fba3fb4709b706\/56x56-000000-80-0-0.jpg","cover_medium":"htt[...]
