interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27
    response:
      body:
        string: '{"id":27,"name":"Daft Punk","link":"https:\/\/www.deezer.com\/artist\/27","share":"https:\/\/www.deezer.com\/artist\/27?utm_source=deezer&utm_content=artist-27&utm_term=0_1644414611&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/27\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/1000x1000-000000-80-0-0.jpg","nb_album":32,"nb_fan":4195107,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-163
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27/playlists
    response:
      body:
        string:
          '{"data":[{"id":1218431961,"title":"Fitness Motivation Hits 2023","public":true,"link":"https:\/\/www.deezer.com\/playlist\/1218431961","picture":"https:\/\/api.deezer.com\/playlist\/1218431961\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/93ee555b86c1907069ffba0e986df653\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/93ee555b86c1907069ffba0e986df653\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/93ee555b86c1907069ffba0e986df653\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/93ee555b86c1907069ffba0e986df653\/1000x1000-000000-80-0-0.jpg","checksum":"a96af5fbedc5a486fb99dbb4f8bd226e","tracklist":"https:\/\/api.deezer.com\/playlist\/1218431961\/tracks","creation_date":"2015-04-27
          18:46:02","md5_image":"93ee555b86c1907069ffba0e986df653","picture_type":"playlist","user":{"id":17936068,"name":"Topsify
          France","tracklist":"https:\/\/api.deezer.com\/user\/17936068\/flow","type":"user"},"type":"playlist"},{"id":10179832302,"title":"Dansk
          Sommer 2023","public":true,"link":"https:\/\/www.deezer.com\/playlist\/10179832302","picture":"https:\/\/api.deezer.com\/playlist\/10179832302\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/bc15f886072368ce6b0a60cc4e46ba34\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdn[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27/playlists?index=10
    response:
      body:
        string:
          '{"data":[{"id":1386208615,"title":"Pop Party","public":true,"link":"https:\/\/www.deezer.com\/playlist\/1386208615","picture":"https:\/\/api.deezer.com\/playlist\/1386208615\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/2baeabc32895a7c623dad2ae437caf13\/56x56-000000-80-0-0.jpg","picture_m[...]
[...]
